.container {
    padding: 30px;
}
h1 {
    color: #588c7e;
}
h3 {
    color: #588c7e;
}

/* Lista de usuários */
table {
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
}
th {
    background-color: #588c7e;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}

/* formulário de usuários */
form {
    border: 3px solid #f1f1f1;
    margin: 0 auto;
    padding: 10px;
    background-color: #f2f2f2;
}
input {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #588c7e;
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}

span {
    color: #588c7e;
    font-weight: bold;
    margin: 5px 0;
}
